
<div class="container center-block">
    <div>
        <form name="UnitForm">
            <div class="col-md-5 col-md-offset-3">
                <fieldset>
                    <legend>Unidade de Saude</legend>

                    <div class="form-group row">
                        <label for="inputNome" class="col-sm-2 col-form-label">Nome:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="nome" id="inputNome" ng-model="unit.nome">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Endereço do estabelecimento</legend>

                    <div class="form-group row">
                        <label for="inputRua" class="col-sm-2 col-form-label">Rua:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="rua" id="inputRua" ng-model="unit.rua">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputBairro" class="col-sm-2 col-form-label">Bairro:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="bairro" id="inputBairro" ng-model="unit.bairro">
                        </div>
                    </div>

                </fieldset>
                <button class="btn btn-primary btn-block" ng-click="registerUnit(unit)">Criar Unidade</button>
            </div>
        </form>
    </div>
</div>